<%- include('../partials/header') %>
<h3>My Skills as of <%= time %></h3>
<ul>
  <a href="/skills/new">Add Skill</a>
  <% skills.forEach(function(s) { %>
  <li>
    <a href="/skills/<%= s.id %>"><%= s.name %></a>
    - <%=s.done? 'done' : 'not done' %>
  </li>
  <% }); %>
</ul>
<%- include('../partials/footer') %>
