<%- include('../partials/header') %>
<h3>My Skills as of <%= time %></h3>
<ul>
  <a href="/skills/new">Add Skill</a>
  <br><br>
  <% skills.forEach(function(s) { %>
  <li>
    <form action="/skills/<%= s.id %>?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">X</button>
    </form>
    <a href="/skills/<%= s.id %>"><%= s.name %></a>
    - <%=s.done? 'done' : 'not done' %>
  </li>
  <% }); %>
</ul>
<%- include('../partials/footer') %>
